<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-lazy-init="false">

    <bean id="crArrearInfoAction" class="com.icinfo.creditinfo.action.biz.crarrearinfo.CrArrearInfoAction" scope="prototype" >
        <property name="crArrearInfoService" ref="crArrearInfoService" />
        <property name="crAbnormalCreditInfoService" ref="crAbnormalCreditInfoService" />
        <property name="crGuaranteeSumInfoService" ref="crGuaranteeSumInfoService" />
        <property name="crCreditSumInfoService" ref="crCreditSumInfoService" />
        <property name="crBadDebtInfoService" ref="crBadDebtInfoService" />
        <property name="crTradeSumInfoService" ref="crTradeSumInfoService" />
        <property name="crAdvanceSumInfoService" ref="crAdvanceSumInfoService" />
    </bean>

    <bean id="crArrearInfoService" class="com.icinfo.creditinfo.service._impl.biz.crarrearinfo.CrArrearInfoServiceImpl" scope="prototype" >
        <property name="hxBaseDao" ref="crArrearInfoDao" />
    </bean>

    <bean id="crArrearInfoDao" class="com.icinfo.creditinfo.dao._impl.biz.crarrearinfo.CrArrearInfoDaoImpl" scope="prototype" >
        <property name="className"><value>CrArrearInfo</value></property>
        <property name="sqlMapClient" ref="sqlMapClient"></property>
    </bean>    

</beans>

